In [1]:
import pandas as pd

In [2]:
#book=pd.read_csv('BX_Books.csv',sep=',',encoding='latin-1')
book=pd.read_csv('BX_Books.csv',sep=';', encoding="latin-1")
rating=pd.read_csv('BX-Book-Ratings.csv',sep=';', encoding="latin-1")
user=pd.read_csv('BX-Users.csv',sep=';', encoding="latin-1")

In [3]:
book.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

Conclusion : keep the image column for poster link

In [4]:
book.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [5]:
book=book[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher','Image-URL-L']]

In [6]:
book.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [7]:
#lets Rename the column name

book.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher','Image-URL-L':'url'},inplace=True)

In [8]:
book.head(2)

,ISBN,title,author,year,publisher,url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...

In [9]:
# user data lets rename the column
user.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'},inplace=True)

In [10]:
user.head()

   user_id                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [11]:
# keep column change to rating data
rating.rename(columns={'User-ID':'user_id','Book-Rating':'rating'},inplace=True)

In [12]:
#our aim is should be keep which user give the more then 200 rating 
user_rating=rating['user_id'].value_counts()

In [13]:
user_rating=user_rating[user_rating >200]

In [14]:
rating=rating[rating['user_id'].isin(user_rating[user_rating >200].index)]

In [15]:
rating.shape

(526356, 3)

In [16]:
print(f'book shape is {book.shape} user shape is {user.shape} rating shape is {rating.shape}')

book shape is (271379, 6) user shape is (278858, 3) rating shape is (526356, 3)

In [17]:
# join the book and rating on ISBN

books=rating.merge(book,on='ISBN')

In [18]:
books.head()

,user_id,ISBN,rating,title,author,year,publisher,url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [19]:
books.shape

(487685, 8)

In [20]:
#grouping the title with rating

books_rating=books.groupby('title')['rating'].count().reset_index()

In [21]:
books_rating.sort_values(by='rating',ascending=False)

                                                    title  rating
156322                                        Wild Animus     363
19141                               Bridget Jones's Diary     277
130232                          The Lovely Bones: A Novel     270
132899                                       The Notebook     241
133906                                  The Pelican Brief     236
...                                                   ...     ...
93086         Portrait of the Psychopath as a Young Woman       1
38031   Edge of Glory: The Inside Story of the Quest f...       1
93083   Portrait of the Artist as a Young Man (Twentie...       1
93082               Portrait of the Artist as a Young Dog       1
160279                                  Ã?Â?thique en toc       1

[160280 rows x 2 columns]

In [22]:
books_rating.rename(columns={'rating':'total_rating'},inplace=True)

In [23]:
books=books.merge(books_rating,on='title')

In [24]:
books.head()

,user_id,ISBN,rating,title,author,year,publisher,url,total_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley & Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82

In [25]:
#now we will removie the thoes who give the below of 50 rating book
books=books[books['total_rating'] >=50]

In [26]:
books.shape

(61853, 9)

In [27]:
#finally drop duplicate rows
books.drop_duplicates(['title','user_id'],inplace=True)

In [28]:
books.shape

(59850, 9)

In [29]:
#now we convert our books data to pivot tabel
books_pivot=books.pivot(index='title',columns='user_id',values='rating')

In [30]:
books_pivot.head()

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN

In [31]:
#Convert nan to 0

books_pivot.fillna(0,inplace=True)

In [32]:
books_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

conclusion : here we have a major problem is 0 it should take lot of time to take for computing process

In [33]:
from scipy.sparse import csr_matrix

In [34]:
books_sparse=csr_matrix(books_pivot)

In [35]:
books_sparse

<742x888 sparse matrix of type '<class 'numpy.float64'>'
	with 14942 stored elements in Compressed Sparse Row format>

# Model Building

In [36]:
from sklearn.neighbors import NearestNeighbors

model =NearestNeighbors(algorithm='brute')

In [37]:
model.fit(books_sparse)

NearestNeighbors(algorithm='brute')

In [38]:
distance , suggestion = model.kneighbors(books_pivot.iloc[500,:].values.reshape(1,-1),n_neighbors=6)

In [39]:
distance

array([[ 0.        , 33.42154993, 34.3074336 , 34.4818793 , 34.79942528,
        34.85685012]])

In [40]:
suggestion

array([[500, 184, 595, 440, 372, 291]], dtype=int64)

In [41]:
for i in range(len(suggestion)):
    print(books_pivot.index[suggestion[i]])

Index(['The Amazing Adventures of Kavalier & Clay', 'Exclusive',
       'The Little Friend', 'Second Nature', 'No Safe Place',
       'Jacob Have I Loved'],
      dtype='object', name='title')

In [42]:
book_index=books_pivot.index

In [43]:
book_index[1]

'1st to Die: A Novel'

In [44]:
print(book_index)

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Cry In The Night',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='title', length=742)

In [45]:
import pickle

In [46]:
pickle.dump(model,open('model.pkl','wb'))
pickle.dump(book_index,open('book_index.pkl','wb'))
pickle.dump(books_pivot,open('books_pivot.pkl','wb'))
pickle.dump(books,open('model.pkl','wb'))

In [47]:
import numpy as np

In [66]:
def recommend(book_name):
    book_id=np.where(books_pivot.index ==book_name)[0][0]
    distance ,suggestion=model.kneighbors(books_pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)
    
    for i in range(len(suggestion)):
        books=books_pivot.index[suggestion[i]]
        for j in books:
            if j == book_name:
                print(f'your book is {book_name}')
                print(j)
            else:
                print(j)
            
            
#def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6 )
    
    for i in range(len(suggestion)):
            books = book_pivot.index[suggestion[i]]
            for j in books:
                if j == book_name:
                    print(f"You searched '{book_name}'\n")
                    print("The suggestion books are: \n")
                else:
                    print(j)

In [60]:
book_name='You Belong To Me'

In [68]:
recommend('You Belong To Me')

your book is You Belong To Me
You Belong To Me
The Cradle Will Fall
Exclusive
Loves Music, Loves to Dance
While My Pretty One Sleeps
Before I Say Good-Bye

NameError: name 'book_pivot' is not defined

In [ ]:
OneDrive/Desktop/taining/book recomended system/book recomend.ipynb